streamlit>=1.40.0
langchain>=0.2.17
langchain-core>=0.2.43
langchain-community>=0.2.17
langchain-openai>=0.1.23
langchain-upstage>=0.2.2
langchain-pinecone>=0.1.3
pinecone>=5.0.1
python-dotenv>=1.0.1
chromadb>=0.5.5
pyarrow>=17.0.0
numpy>=2.1.0
pydantic>=2.7.0
typing-extensions>=4.12.0
rich>=13.9.4
